.main-page {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1048px;
    margin: 100px auto 0;
}

@media screen and (max-width: 548px) {
    .main-page {
        justify-content: center;
    }
}

@media screen and (max-width: 1000px) {
    .main-page {
        max-width: 798px;
    }
}

@media screen and (max-width: 750px) {
    .main-page {
        max-width: 548px;
    }
}